<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <a href="/">Calculate Again</a>

  <h1>Employee Benefits Preview</h1>
  <p>This employee will be paid <%= totalPay %> per paycheck</p>
  <p>The total annual benefits cost for this employee is <%= totalDeductions %></p>
</body>
</html>